name: CI

on:
  merge_group:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-up-to-dateness:
    outputs:
      is-up-to-date: ${{ steps.main.outputs.is-up-to-date }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - id: main
        uses: ./

  test:
    needs: [check-up-to-dateness]

    if: needs.check-up-to-dateness.outputs.is-up-to-date != 'true'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Prettier
        run: |
          npm install -g prettier
          prettier --check '**/*.md' '**/*.yml'

      - name: ShellCheck
        run: shellcheck run.sh
